:root {
  /* ============================= */
  /* CORES PRINCIPAIS */
  /* ============================= */
  --color-primary: #FFD600;
  --color-primary-hover: #f2cb00;
  --color-primary-light: #ffe97a;
  --color-primary-soft: #fff3b0;

  /* ============================= */
  /* BACKGROUNDS */
  /* ============================= */
  --color-bg-main: #F9FAFB;
  --color-bg-card: #ffffff;
  --color-bg-input: #f8f8f8;

  /* ============================= */
  /* TEXTOS */
  /* ============================= */
  --color-text-primary: #222;
  --color-text-secondary: #666;
  --color-text-terciary: #555 --color-text-security: #777 --color-text-muted: #999;
  --color-text-dark: #000;

  /* ============================= */
  /* BORDAS */
  /* ============================= */
  --color-border-light: #ddd;
  --color-border-soft: #e5e5e5;

  /* ============================= */
  /* SOMBRAS */
  /* ============================= */
  --shadow-card: 0 5px 10px rgba(0, 0, 0, 0.12);
  --shadow-feedback: 0 6px 18px rgba(0, 0, 0, 0.14);
}


/* ============================= */
/* BASE GERAL */
/* ============================= */
body {
    background-color: var(--color-bg-main);
    color: var(--color-text-primary);
}

.app {
    width: 100%;
    max-width: 1280px;
    min-height: 100vh;
    background: linear-gradient(
        to bottom,
        var(--color-primary) 0%,
        var(--color-primary-light) 3%,
        var(--color-primary-soft) 5%,
        var(--color-bg-main) 8%
    );
}

/* ============================= */
/* HEADER */
/* ============================= */
.topo {
    padding: 14px 16px 30px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.linha-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 795;
    font-size: clamp(16px, 5vw, 20px);
    color: var(--color-text-dark);
    flex-shrink: 0;
    text-decoration: none;
}

.logo img {
    height: 30px;
    width: auto;
    object-fit: contain;
    display: block;
}

.chat {
    background: transparent;
    border-radius: 50%;
    padding: 6px;
    border: none;
    flex-shrink: 0;
    cursor: pointer;
}

.chat img {
    width: auto;
    height: 25px;
    display: block;
    object-fit: contain;
}

/* ============================= */
/* CONTEÚDO */
/* ============================= */
.pagamento-container {
    padding: 0 16px 32px;
}

.titulo-pagina {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 10px 0 20px;
}

.titulo-pagina h1 {
    font-size: clamp(22px, 4vw, 28px);
    font-weight: bold;
    margin: 0;
}

.btn-voltar {
    border: none;
    background: transparent;
    font-size: 30px;
    cursor: pointer;
    color: var(--color-text-dark);
}

.btn-voltar svg {
    width: auto;
    height: 30px;
    object-fit: contain;
    display: block;
}