@media (min-width: 1024px) {

    /* ============================= 
       ESCONDEDO COISAS DO MOBILE 
    ================================ */

    /* Esconde o carrinho mobile */
    .carrinho-mobile {
        display: none;
    }

    /* Escondendo a barra de pesquisa do mobile */
    .search-bar-carrinho {
        display: none;
    }

    /* Esconde nav mobile */
    .navegacaoMobile {
        display: none;
    }


    /* ============================= 
       AJUSTANDO COISAS DO DESKTOP 
    ================================ */

    /* GRADIENNTE */
    .app {
        background: linear-gradient(to bottom, #FFD600 0%, #FFD600 15%, #ffffff 25%);
    }

    /* HEADER */
    header {
        display: flex;
        align-items: center;
        gap: 30px;
        /* espaçamento entre logo, search-bar e chat */
        padding: 40px 40px;
    }

    .logo {
        font-size: 25px;
    }

    .logo img {
        height: 40px;
        width: auto;
        object-fit: contain;
    }

    .search-bar-desktop {
        flex: 1;
        min-width: 200px;
        height: 43px;

        /* Flex para alinhar input + botão */
        display: flex;
        align-items: center;

        background: #fff;

        /* formato pill */
        border-radius: 999px;

        padding: 0 24px;
    }

    /* Campo de texto da busca */
    .search-bar-desktop input {
        flex: 1;
        /* ocupa todo espaço disponível */
        border: none;
        outline: none;
        font-size: 14px;
    }

    /* Botão da lupa */
    .search-bar-desktop button {
        width: 40px;
        height: 40px;

        display: flex;
        align-items: center;
        justify-content: center;

        background: none;
        border: none;
        cursor: pointer;
    }

    /* Ícone da lupa */
    .search-bar-desktop img {
        width: 25px;
        height: 25px;
    }

    /* Search bar aparece e ocupa o espaço central */
    .header .search-bar-desktop {
        display: flex;
        flex: 1;
        max-width: 700px;
    }

    /* ÍCONE CHAT */
    .chat {
        width: 40px;
        height: auto;
    }

    /* Nav desktop aparece abaixo do header */
    .navegacaoDesktop {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
        padding: 0 40px;
        max-width: 1200px;
        margin: 0 auto 25px;
    }

    .navegacaoDesktop a {
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 15px;
        font-weight: 600;
        color: #000;
        text-decoration: none;
        white-space: nowrap;
    }

    .navegacaoDesktop img {
        width: 20px;
        height: auto;
    }


    /* BANNER */
    section {
        padding: 14px 40px 0;
    }

    .banner {
        height: clamp(200px, 35vw, 420px);
        /* altura maior */
        border-radius: 16px;
    }

    .seta-btn {
        font-size: 28px;
        width: 20px;
        height: 20px;
    }

    .setas {
        left: 20px;
        right: 20px;
    }

    .indicadores {
        margin-top: 0;
        position: absolute;
        bottom: 16px;
    }

    .indicadores span {
        width: 7px;
        height: 7px;
    }


    /* SUBTITULO FERRAMENTAS */
    main h2 {
        font-size: 22px;
        padding: 10px 0 0 20px;
    }

    /* CATEGORIAS FERRAMENTAS */
    .categorias {
        padding: 20px 20px;
        font-size: clamp(13px, 3.2vw, 15px); 
    }

    /* CARD DE ANUNCIO DE FERRAMENTA */
    .anuncios {
        padding: 0 20px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    } 
}